<%= form_for @post do |f| %>

    <%= render 'shared/post_error_messages' %>

    <div class="form-group">
        <%= f.text_field :header, class: 'form-control', placeholder: "Header" %>
    </div>

    <div class="form-group">
        <%= f.text_area :content, class: 'form-control', placeholder: "Content (280 symbols max)" %>
    </div>

    <%= f.submit "Post", class: 'btn btn-primary btn-lg btn-block' %>

<% end %>